
  <div class = "show-banner"></div>
    <div class ="container">
    <div class= "row">
        <div class = "frame2">
      <div class="col-xs-12 col-sm-6">
        <div class= "cocktail-info">
        <h4><%= @cocktail.name %></h4>
        <%= link_to "» Delete this listing", cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        <br>
        <%= link_to "» Add a recipe", new_cocktail_dose_path(@cocktail)%>

        <br>
        <%= link_to "» Back", cocktails_path %>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6">
        <div class = "recipe">
        <ul>
          <p><strong>Recipe:</strong></p>
          <% @doses.each do |dose| %>
          <li><%= dose.description%> - <%= dose.ingredient.name %> -
          <%= link_to dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
          <% end %>
          </li>
        </ul>
        </div>
      </div>
  </div>
  </div>
  </div>
